<%- include ('../../partials/header') %> 
<%- include ('../../partials/homenavbar') %> 

<body>
    <div class="container">
        <br>
        <% pagination.articles.rows.forEach((article) =>{ %> 
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title  %></h2>
                </div>
                <div class="card-body">
                    <a class="btn btn-success" href="/<%= article.slug %>">Ler Artigo</a>
                </div>
            </div>
            <br>
        <% }) %> 
        <div class="row">
            <div class="col col-12">

                <nav>
                    <ul class="pagination justify-content-center">

                        <% if(pagination.previous) { %>
                            <li class="page-item"></li><a class="page-link" href="/articles/page/<%= pagination.page - 1 %>">Anterior</a></li>
                        <% } %>
                        
                        <% for(let i=1; i<=pagination.numberpages; i++) { %>
                            <li class="page-item <%if(pagination.page==i){%> active <%}%>"><a class="page-link" href="/articles/page/<%= i %>"><%= i %></a></li>
                        <% } %>
                        
                        <% if(pagination.next) { %>
                            <li class="page-item"></li><a class="page-link" href="/articles/page/<%= pagination.page + 1 %>">Próxima</a></li>
                        <% } %>

                    </ul>
                  </nav>
            </div>
        </div>
        <br>
    </div>
</body>

<%- include ('../../partials/footer') %> 